@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.HomePageMailWrapper {

    .hot-categories-mobile-wrapper {
        display: none;
    }

    .category-main {
        display: flex;
        justify-content: center;
        width: 100%;

        // background: red;
        .category-hot-card {
            overflow: hidden;
            border-radius: 10px !important;

            width: 130px;
            height: 158px;

            // background-color: #efecec;
            .category-img {
                height: 125px;
                background: linear-gradient(#8e31ff2e, #fffdfd);



                img {
                    width: 100%;

                }
            }

            .category-head {

                background-color: #f5f3f3;
                border-radius: 0px 0px 5px 5px;

                p {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.01em;
                    text-align: center;
                    color: #111111;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }


            }

        }
    }



    .caro-btn-recently-top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 25px;

        // cursor: pointer; 
        .left {
            text-align: center;
            background-color: #f1efef;

        }

        .right {
            text-align: center;
            background-color: #f1efef;

        }
    }

    // .carousel-arrowss {
    //     width: 100%;
    //     position: absolute;
    //     // top: 93%;
    //     // left: 50%;
    //     transform: translate(-50%, -50%);
    //     display: flex;
    //     justify-content: space-between;
    //     padding: 0 39rem;
    //     z-index: 19999 !important;
    //     // background-color: red;
    //     font-size: 1px !important;
    //     margin-top: 2px;

    // }

    // .MdOutlineKeyboardArrowLeft {
    //     width: 36px;
    //     height: 36px;
    //     border-radius: 45% 0 0 45%;
    //     font-weight: 100;
    //     top: 92%;
    //     left: 47%;

    //     font-size: 1px !important;
    //     cursor: pointer;
    //     color: grey;
    //     background-color: white;
    //     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    // }

    // .MdOutlineKeyboardArrowright {
    //     width: 36px;
    //     height: 36px;
    //     border-radius: 0% 45% 45% 0%;
    //     font-weight: 100;
    //     top: 92%;
    //     right: 47%;
    //     font-size: 1px !important;
    //     cursor: pointer;
    //     color: grey;
    //     background-color: white;
    //     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    // }

    .topbrandCarousel {
        position: relative;
        padding-bottom: 3rem;

        .caro-btn-brands {
            position: absolute;
            top: 92%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .right,
            .left {
                cursor: pointer;
                z-index: 9;

            }

            .right {
                background-color: #f7f3f3;
                color: rgba(54, 53, 53, 0.675);
                // right: 1rem;
                width: 42px;
                height: 42px;
                transform: translate(0, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0% 45% 45% 0%;
            }

            .left {
                border-radius: 45% 0 0 45%;
                background-color: #f7f3f3;
                color: rgba(54, 53, 53, 0.675);
                transform: translate(0, -50%);
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }

        // padding: 5rem;

    }

    .trending-product-card-wrapper {
        // padding: .5em 10px;
        position: relative;
        overflow: hidden;
        padding-bottom: 5rem;

        .caro-btn-recently {
            position: absolute;
            top: 92%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 1rem;
            // margin-bottom: 2rem;




            .right,
            .left {
                cursor: pointer;
                z-index: 40;

            }

            .right {
                background-color: #f7f3f3;
                color: rgba(54, 53, 53, 0.675);
                // right: 1rem;
                width: 42px;
                height: 42px;
                transform: translate(0, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0% 45% 45% 0%;

            }

            .left {
                border-radius: 45% 0 0 45%;
                background-color: #f7f3f3;
                color: rgba(54, 53, 53, 0.675);
                transform: translate(0, -50%);
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }




    }



    .HomePageHero {
        padding-top: 6.2rem;

        .carousel-indicators {
            background-color: transparent;
            border-radius: 6px;
            padding: 5px 15px;
            width: fit-content;
            margin: auto;
            margin-bottom: 0rem !important;
        }

        .carousel-item {
            position: relative;

            // .mobile-pick {
            //     position: absolute;
            //     z-index: 88888;
            //     bottom: 0;
            //     left: 15%;

            // }

            // border-radius: 6px;
            // width: 100%;
            .bannerMainImage {
                width: 100%;
                // height: 85vh;

                img {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover !important;
                }
            }

        }

        .hero-content {
            position: absolute;
            right: 15%;
            top: 50%;
            transform: translate(0, -50%);


            h2 {
                font-family: Inter;
                font-size: 30.16px;
                font-weight: 700;
                line-height: 42.23px;
            }

            h1 {
                font-family: Inter;
                font-size: 30.16px;
                font-weight: 700;
                line-height: 42.23px;
                text-align: left;
                color: #08B219;
            }

            p {
                font-family: Inter;
                font-size: 12.3px;
                font-weight: 400;
                line-height: 17.22px;
                text-align: left;
                color: #535353;
            }

            img {
                margin-right: 1rem;
            }
        }

        .carousel-indicators {
            button {
                width: 12px;
                height: 4px;
                border-radius: 10px !important;
                background-color: #d5d5d5;
            }

            .active {
                background-color: black;
            }
        }
    }

    @media(max-width:768px) {
        .HomePageHero {
            padding-top: 0 !important;
            height: 42vh !important;

            .carousel-item {
                height: 100% !important;

                .mobile-pick {
                    display: none;
                }
            }

            .carousel-inner {
                height: 40vh !important;

                img {
                    height: 100% !important;
                }
            }

            .hero-content {
                width: 100vw !important;
                left: 50% !important;
                top: 50%;
                transform: translate(-50%, -50%) !important;

                h2 {
                    text-align: center !important;
                    font-size: 20.16px !important;
                }

                h1 {
                    font-size: 25.16px !important;
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .play-apple {
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                }

                img {
                    margin-right: 0rem;
                }
            }
        }
    }

    @media(min-width:605px) and (max-width:1000px) {

        .HomePageHero {
            padding-top: 4rem !important;

            .mobile-pick {
                left: 10px !important;
                width: 200px !important;
            }

            .hero-content {
                h2 {
                    font-size: 15px !important;
                }

                h1 {
                    font-size: 20px !important;
                    line-height: 20px !important;
                }

                .play-apple {
                    img {
                        width: 100px;
                    }
                }
            }
        }










        // .carousel-arrowss {
        //     width: 100%;
        //     position: absolute;
        //     // top: 83%;
        //     // left: 50%;
        //     transform: translate(-50%, -50%);
        //     display: flex;
        //     justify-content: space-between;
        //     padding: 0 29rem;
        //     z-index: 19999 !important;
        //     // background-color: red;
        //     font-size: 1px !important;
        //     margin-top: 2px;

        // }

        // .MdOutlineKeyboardArrowLeft {
        //     width: 36px;
        //     height: 36px;
        //     border-radius: 100px;
        //     font-weight: 100;
        //     font-size: 1px !important;
        //     cursor: pointer;
        //     color: grey;
        //     top: 92%;
        //     left:47%;

        //     background-color: white;
        //     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        // }
        // .MdOutlineKeyboardArrowright{
        //     width: 36px;
        //     height: 36px;
        //     border-radius: 100px;
        //     font-weight: 100;
        //     font-size: 1px !important;
        //     cursor: pointer;
        //     color: grey;
        //     background-color: white;
        //     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        // }

        // .topbrandCarousel {
        //     position: relative;
        //     padding: 5rem;
        // }


    }



    // ===============================trending-products============================
    .deals-headng-wrapper {
        display: flex;
        padding: 1.4rem;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px !important;
        // background-color: red;


        h2 {
            font-family: Roboto;
            font-size: 25px;
            font-weight: 700;
            line-height: 31.25px;
            text-align: left;
            font-variation-settings: 'wdth' 100, 'opsz' 21;

        }

        .viewAll {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.44px;

        }
    }



    .trending-products {
        padding-top: 1rem;
        padding-left: 10px;


        h3 {
            font-family: Roboto;
            font-size: 21px;
            font-weight: 600;
            line-height: 26.25px;
            text-align: left;
        }

        .link {
            text-decoration: none;
        }

        .featuredProdCardWrapper {
            display: flex;
            grid-area: 1rem;
            justify-content: center;
            flex-wrap: wrap;
        }

        .trending-card {
            padding: 0 10px;
            width: 252px;

            .featuredProdImage {
                width: 100%;
                height: 250px;
                margin-bottom: 1rem;
                overflow: hidden;
            }

            // background-color: red;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }

            .rating-box {
                width: 50px;
                height: 26px;
                border-radius: 5px;
                border: 1px solid #DADADA;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .ratingStar {
                    font-size: 14px;
                    color: #111111;
                }

                span {
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 0.02em;
                    color: #111111;
                    padding-bottom: 0 !important;
                    margin-bottom: 0 !important;
                }
            }

            .best-seller-box {
                margin-top: 10px;
                width: 89px;
                height: 27px;
                background: #B271F333;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                letter-spacing: 0.02em;
                color: #5D1CAA;
            }

            h6 {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 2%;
                vertical-align: middle;
                

                strong {
                    color: #5D1CAA;
                }
            }

            p {
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 16.8px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #1E3354;
            }

            .price {
                font-family: Roboto;
                font-weight: 700;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 2%;
                vertical-align: middle;
                
            }

            .crossed-price {
                font-family: Roboto;
                font-weight: 400;
                margin-left: 1rem;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 2%;
                vertical-align: middle;
                text-decoration: line-through;
                color: #8C8C8C;
                
            }
        }


    }


    @media(max-width:596px) {
        // padding-top: 2px !important;

        .hot-categories-wrapper {
            display: none;
        }

        .trending-products {
            padding-top: 0rem;
            padding-left: 10px;
        }


        .hot-categories-mobile-wrapper {
            display: block !important;
            padding: .4rem 12px;
            height: auto !important;
            padding-bottom: 2rem !important;
            padding-top: 3rem !important;
            overflow: hidden;
            gap: 10px !important;

            .hotCategoryWrapper {
                display: flex;
                height: auto !important;
                justify-content: center;

            }

            h2 {
                padding-top: 6px;
                padding-bottom: 10px;
                padding-left: 0.5rem !important;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 700;
                line-height: 23.44px;
                text-align: left;
                font-variation-settings: 'wdth' 100, 'opsz' 21;
            }

            .category-card {
                width: 110px !important;
                margin: auto !important;
                height: 118px;
                display: flex;
                // background: red;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                box-shadow: 0px 4px 10px rgba(73, 72, 72, 0.1);
                background-color: #fff;
                transition: transform 0.2s ease, box-shadow 0.2s ease;
                gap: 10px;
                padding-left: 20px;
                padding-top: 3rem !important;

            }

            .category-card img {
                width: 60%;
                /* Adjust image size proportionally */
                height: auto;
                /* Maintain aspect ratio */
                margin-bottom: 3px;
                // margin: auto !important;
                /* Space below the image */
            }

            /* Text inside the card */
            .category-card p {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.01em;
                text-align: center;
                color: #111111;
                padding-top: 3px;
            }


            .hot-cat-card {
                width: 70px !important;
                // margin: auto !important;
                height: 70px !important;
                border-radius: 15.24px;
                // border: 1px solid #02400C;
                overflow: hidden;
                display: flex;

                align-items: center;
                justify-content: center;
                background: linear-gradient(#8e31ff2e, #ffff);

                img {
                    width: 90px;
                }

            }

            // p {
            //     font-family: Roboto;
            //     font-size: 14px;
            //     font-weight: 400;
            //     line-height: 20px;
            //     letter-spacing: -0.01em;
            //     text-align: center;
            //     color: #111111;
            //     padding-top: 10px;
            // }

        }


        .carousel-next-btn-wrapp {
            width: fit-content !important;
        }

        .bannerMainImage {
            // margin-top: 16px !important;
            width: 100%;
            height: 29vh !important;

            img {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover !important;
            }
        }

        .carousel-inner {
            height: 37vh !important;

            img {
                height: 100% !important;
            }
        }

        .HomePageHero {
            height: 33vh !important;
            // border: 1px solid red;
            padding-top: 4rem !important;
        }

        //shi
        .topbrandCarousel {
            position: relative;
            padding-bottom: 3rem;

            .caro-btn-brands {
                position: absolute;
                top: 92%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .right,
                .left {
                    cursor: pointer;
                    z-index: 9;

                }

                .right {
                    background-color: #f7f3f3;
                    color: rgba(54, 53, 53, 0.675);
                    // right: 1rem;
                    width: 42px;
                    height: 42px;
                    transform: translate(0, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0% 45% 45% 0%;
                }

                .left {
                    border-radius: 45% 0 0 45%;
                    background-color: #f7f3f3;
                    color: rgba(54, 53, 53, 0.675);
                    transform: translate(0, -50%);
                    width: 42px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

            // padding: 5rem;

        }

        .trending-product-card-wrapper {
            // padding: .5em 10px;
            position: relative;
            overflow: hidden;
            padding-bottom: 3rem;
            // background-color: red;






        }










        // .carousel-arrowss {
        //     width: 100%;
        //     position: absolute;
        //     top: 94%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     display: flex;
        //     justify-content: space-between;
        //     margin-top: 16px;
        //     padding: 0 9rem !important;
        //     z-index: 999999 !important;
        //     // background-color: red;   
        //     font-size: 1px !important;

        //     .MdOutlineKeyboardArrowLeft {
        //         width: 38px;
        //         height: 31px;
        //         // border-radius: 100px;
        //         font-weight: 100;
        //         font-size: 1px !important;
        //         cursor: pointer;
        //         color: grey;
        //         background-color: white;
        //         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        //         border-radius: 45% 0 0 45%;
        //         // transform: translate(0,-50%);



        //     }
        //     .MdOutlineKeyboardArrowright{
        //         width: 38px;
        //         height: 31px;    
        //         // border-radius: 100px;
        //         font-weight: 100;
        //         font-size: 1px !important;
        //         cursor: pointer;
        //         color: grey;
        //         background-color: white;
        //         box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        //         border-radius: 0% 45% 45% 0%; 
        //         // transform: translate(-10%,-50%);


        //     }

        // }
        // .topbrandCarousel {
        //     position: relative;
        //     padding: 3rem;
        // }

    }

    @media(max-width:596px) {
        .slide {
            .carousel-inner {
                height: 30vh !important;

                img {
                    height: 100% !important;
                }
            }
        }

    }

    // ======================================product-banner-wrapper=========================
    .product-banner-wrapper {
        padding: 3rem 0;

    }

    @media(max-width:768px) {
        .product-banner-wrapper {
            padding: 1rem 0;


            img {
                margin-bottom: 1rem !important;
            }
        }

        .hot-categories-wrapper {
            // background-color: yellow !important;
            margin-top: 0px !important;
            padding-top: 0px !important;

            h2 {
                font-family: Roboto;
                font-size: 24px !important;
                font-weight: 700;
                line-height: 31.25px;
                text-align: left;
                color: #111111;
                margin-top: 4rem !important;
            }

        }
    }

    // ======================================hot-categories==============================
    .hot-categories-wrapper {
        padding: .4rem 12px;
        overflow: hidden;

        .hotCategoryWrapper {
            display: flex;
            justify-content: center;
            gap: 1rem;
        }

        h2 {
            font-family: Roboto;
            font-size: 25px;
            font-weight: 700;
            line-height: 31.25px;
            text-align: left;
            color: #111111;

        }

        .hot-cat-card {
            width: 120px;
            margin: auto;
            height: 120px;
            border-radius: 15.24px;
            border: 1px solid #8C31FF;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(#8e31ff2e, #ffff);

            img {
                width: 100px;
            }

        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.01em;
            text-align: center;
            color: #111111;
            padding-top: 10px;
        }

    }

    @media(max-width:768px) {
        .hot-cat-card {
            width: 100px !important;
            height: 100px !important;
            margin-top: 0rem !important;
        }

    }

    @media(max-width:668px) {
        .top-deals {
            overflow: hidden;



            .topdealsMainCarouselWrapper {
                display: flex;
                gap: 1rem;
                justify-content: center;



            }

            .deals-headng-wrapper {
                display: flex;
                padding: 1.4rem;
                justify-content: space-between;
                align-items: center;
                // background-color: red;
                // border: 1px solid red;


                .top-deals-heading-recentlyyyy {
                    font-family: Roboto;
                    font-size: 17px !important;
                    font-weight: 700;
                    line-height: 23.44px;


                }

                .top-deals-heading {
                    font-size: 20px !important;
                    margin-top: 8px;

                }

                .viewAll {
                    font-family: Roboto;
                    font-size: 17px !important;
                    font-weight: 700;
                    line-height: 23.44px;

                }
            }

            // .top-deals-heading {
            //     font-family: Roboto;
            //     font-size: 25px;
            //     font-weight: 700;
            //     line-height: 31.25px;
            //     color: #111111;

            // }


            .top-deal-card {

                // background-color: red;

                img {
                    width: 220px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }

    }

    // =================================top-deals==============================
    .top-deals {
        overflow: hidden;


        .topdealsMainCarouselWrapper {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }

        .deals-headng-wrapper {
            display: flex;
            padding: 1.4rem;
            justify-content: space-between;
            align-items: center;

            .viewAll {
                font-family: Roboto;
                font-size: 20px;
                font-weight: 700;
                line-height: 23.44px;

            }
        }

        .top-deals-heading {
            font-family: Roboto;
            font-size: 25px;
            font-weight: 700;
            line-height: 31.25px;
            color: #111111;

        }

        .top-deal-card {

            // background-color: red;
            img {
                width: 320px;
                display: block;
                margin: 0 auto;
                border-radius: 10px;
            }
        }
    }

    @media(max-width:576px) {
        .top-deal-card {

            // background-color: red;
            img {
                width: 326px !important;
                display: block;
                margin: 0 auto;
            }
        }
    }

    @media(min-width:991px) and (max-width:1200px) {
        .top-deal-card {

            // background-color: red;
            img {
                // width: 300px !important;
                display: block;
                margin: 0 auto;
            }
        }
    }

    // =================================top-deals==============================
    // =================================limited-time-deals-section==========================
    #limited-time-deals-section,
    #top-stores {
        .limited-time-deals-card {
            .limited-time-deal-img-container {
                height: 320px;
                width: 325px;
                margin: auto;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                display: flex;
                flex-direction: column;
                /* Ensures the timer stays at the bottom */
                justify-content: center;
                align-items: center;

                .timer {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 31px;
                    background-color: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-family: Roboto;
                        font-size: 17px;
                        font-weight: 500;
                        line-height: 23.44px;
                        text-align: center;
                        color: white;
                    }

                }

                img {
                    width: 100%;
                    // height: calc(100% - 30px); /* Leaves space for the timer */
                    height: 100%;
                    margin-bottom: 1.8rem;
                    object-fit: cover;

                }


            }
        }
    }

    .featured-products {
        padding-left: 0 !important;
        padding: 0 !important;

        @media(max-width:768px) {
            .top-deals-heading {
                font-size: 18px !important;
            }

            .viewAll {
                font-size: 13px !important;
            }



            .trending-card {
                width: 180px !important;
                margin-bottom: 1rem !important;

                .best-seller-box {
                    font-size: 12px !important;
                    width: fit-content !important;
                    padding: 5px !important;
                    height: fit-content !important;

                }

                .featuredProdImage {
                    height: 180px;
                }

                .price {
                    font-size: 16px;
                }

                .crossed-price {
                    font-size: 12px !important;
                }
            }
        }
    }

    // =================================limited-time-deals-section==========================
    // ===================================featuredBrands============================
    #featuredBrands {
        .featuredBrandsCard {


            .featuredBrandImage {
                // background-color: red;
                width: 373px;
                height: 320px;
                height: auto;
                margin: auto;
                // overflow: hidden;
                border-radius: 100px !important;
                position: relative;
                // background-color: red;


                .indomei-container {
                    position: absolute;
                    width: 176px;
                    height: 45px;
                    border-radius: 4px;
                    border: 1px solid #0000001A;
                    background-color: white;
                    bottom: 10px;
                    left: 41px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    .ad {
                        width: 29px;
                        height: 29px;
                        background: #CCCCCC;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 18.75px;
                        color: #717171;
                        border-radius: 10px;
                    }

                    .indomie-image {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background: #CCCCCC;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        img {
                            width: 100%;
                            border-radius: 100px;
                        }

                    }

                    .indomie-text {
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 18.75px;
                        color: #111111;

                    }
                }

                img {
                    width: 80%;
                }
            }
        }
    }

    @media(max-width:768px) {
        .indomei-container {
            .indomie-image {
                overflow: hidden !important;

                img {
                    width: 100% !important;
                }

            }

            .indomie-text {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.75px;
                color: #111111;

            }
        }
    }

    // ===================================featuredBrands============================
    // =====================================top-stores=============================
    #top-stores {
        .tharaonline {
            background-color: black !important;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    // =====================================top-stores=============================
    // ======================================newArrivalSection=======================
    #newArrivals {
        padding-bottom: 1rem;

        .newArivalCardWrapper {
            display: flex;
            gap: 1rem;
        }

        .newArrivals-card {
            width: 420px;
            height: 270px;
            margin: auto;
            border-radius: 8px;
            overflow: hidden;
          
            // background-color: red;

            img {
                width: 100%;
                border-radius: 10px !important;
            }
        }
    }

    .recently {
        // display: flex;
        gap: 1rem;
        justify-content: center;

        .trending-card {
            margin: auto;
            // background-color: red;
        }
    }

    // ======================================newArrivalSection=======================
    // =========================================top-brands==========================
    #top-brands-section {

        // background-color: #08B219;
        // padding-bottom: 30px;
        a {
            text-decoration: none;
        }

        .top-brand-card {
            text-align: center;

            h6 {
                font-family: Roboto;
                font-size: 21px;
                font-weight: 400;
                line-height: 24.61px;
                color: #111111;
                margin-top: 10px;
            }

            p {
                font-family: Roboto;
                font-size: 15px;
                font-weight: 400;
                line-height: 17.58px;
                color: #28AF35;
            }
        }

        .top-brand-image {
            margin: auto;
            width: 130px;
            height: 130px;
            border-radius: 5%;
            background: #F8F8F8;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100% !important;
                height: 130px;
            }
        }

    }

    @media(max-width:768px) {
        .top-brand-image {
            margin: auto;
            width: 169px !important;
            height: 169px !important;
        }



    }

    @media(max-width:576px) {
        .featuredBrandImage {
            width: 375px !important;



            .indomei-container {

                bottom: 10px;
                left: 33px !important;

            }

        }

        .top-brand-image {
            margin: auto;
            width: 130px !important;
            height: 130px !important;
            border-radius: 5%;
            background: #F8F8F8;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 100% !important;
                height: 130px !important;
            }
        }

        #newArrivals {



            .newArrivals-card {
                width: 400px;
                height: 270px;
                margin: auto;
               
              
                overflow: hidden;
                // background-color: red;

                img {
                    width: 90%;
                    // text-align: center;
                    border-radius: 10px !important;
                    // margin: auto;
                    margin-left: 0.5rem;
                }
            }

        }







        }


        // =========================================top-brands==========================
        // =======================================recomented-for-you=========================
        #discount-for-you-section {
            .recoment-card {
                width: 330px;
                height: 401px;
                border-radius: 10px;
                margin: auto;
                padding: 10px;
                margin-bottom: 2rem;
                margin-top: 1rem;

                h3 {
                    font-family: Roboto;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 35.16px;
                    color: #111111;
                }

                span {
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23.44px;
                    text-align: center;

                }

            }

        }

        //   recently viewed only 
        @media(max-width:608px) {

            .visited-products {


                .deals-headng-wrapper {

                    // background-color: yellow;
                    h2 {
                        font-size: 18px !important;
                        margin-top: 11px;
                        margin-right: 22px !important;
                    }

                    .viewAll {
                        font-size: 17px;
                    }
                }
            }


            .trending-card {
                padding: 0 10px;
                width: 152px !important;

                .featuredProdImage {
                    width: 100%;
                    height: 149px !important;
                    margin-bottom: 1rem;
                    overflow: hidden;
                }

                // background-color: red;
                img {
                    width: 98%;
                    display: block;
                    margin: 0 auto;
                }

                .rating-box {
                    width: 72px !important;
                    height: 26px !important;
                    border-radius: 5px;
                    border: 1px solid #DADADA;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    .ratingStar {
                        font-size: 13px;
                        color: #111111;
                    }

                    span {
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 0.02em;
                        color: #111111;
                        padding-bottom: 0 !important;
                        margin-bottom: 0 !important;
                    }
                }

                .best-seller-box {
                    margin-top: 10px;
                    width: 72px;
                    height: 23px;
                    background: #B271F333;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Roboto;
                    font-size: 11px !important;
                    font-weight: 400;
                    line-height: 16.8px;
                    letter-spacing: 0.02em;
                    color: #5D1CAA;
                }

                h6 {
                    font-family: Roboto;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 2%;
                    vertical-align: middle;
                    

                    strong {
                        color: #5D1CAA;
                    }
                }

                p {
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.8px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #1E3354;
                }

                .price {
                    font-family: Roboto;
                    font-size: 14px !important;
                    font-weight: 600;
                    line-height: 19.2px;
                    letter-spacing: 0.02em;
                    color: #111111;
                    margin-right: 10px;
                }

                .crossed-price {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                    letter-spacing: 0.02em;
                    color: #8C8C8C;
                }
            }

            .caro-btn-recently {
                position: absolute;
                top: 92%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px !important;
                margin-top: 10px !important;


                .right,
                .left {
                    cursor: pointer;
                    z-index: 40;

                }

                .right {
                    background-color: #f7f3f3;
                    color: rgba(54, 53, 53, 0.675);
                    // right: 1rem;
                    width: 37px !important;
                    height: 37px !important;
                    transform: translate(0, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0% 45% 45% 0%;

                }

                .left {
                    border-radius: 45% 0 0 45%;
                    background-color: #f7f3f3;
                    color: rgba(54, 53, 53, 0.675);
                    transform: translate(0, -50%);
                    width: 37px !important;
                    height: 37px !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }

        }





        // =======================================recomented-for-you=========================
    }