.LimitedTimeDealsMainWrapper {
    .LimitedTimeDealsWrapper {
        padding-top: 120px;
        display: flex;

        .TopDeals-left {
            max-height: 100vh;
            position: sticky;
            top: 120px;
        }

        .TopDeals-right {
            overflow: hidden;
            padding: 1rem;
            max-height: 1000vh;

            .top-deals-heading {
                img {
                    margin-right: 10px;
                }

                font-family: Roboto;
                font-size: 25px;
                font-weight: 700;
                line-height: 31.25px;
                text-align: left;
                color: black;
            }

            .carousel-section {
                padding-top: 1.5rem !important;

                .top-deals-image {
                    width: 350px;
                    height: 368px;
                    margin: auto;
                    position: relative;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;


                    .time-count {
                        position: absolute;
                        height: 28px;
                        background-color: #EB2D2D;
                        bottom: 0;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 23.44px;
                        text-align: center;
                        color: white;

                    }

                    img {
                        width: 100%;
                        height: calc(100% - 20px);
                        /* Leaves space for the timer */
                        object-fit: cover !important;
                        // margin-bottom: 130px !important;
                    }
                }
            }

            .selectBox-section {
                padding-top: 1.5rem;
                display: flex;
                gap: .5rem;
                // justify-content: center;
            }

            .sort-dropdown {
                // width: 125px;
                // height: 55px;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                gap: 5px;
                border: 0.5px solid #00000033;
                cursor: pointer;

                span {
                    //styleName: Desktop (lg = <1440px)/body-md;
                    font-family: Roboto;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 18.2px;

                }
            }

            .count {
                width: 20px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                border-radius: 50%;
                background: #EFEFEF;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 400;
                line-height: 18.2px;
                color: #5D1CAA;
            }

            .dropdown-item {
                cursor: pointer;
            }

            .products-list-wrapper {
                padding-top: 2rem;

                .Link-way-only{
                    text-decoration: none;
                }

                .prod-card {
                    padding: 10px;
                    width: 100%;
                    border: 1px solid #F2F2F2;
                    border-radius: 4px;
                    margin-bottom: 1rem;

                    img {
                        display: block;
                        margin: 0 auto;
                    }

                    .card-time-count-down-box {
                        width: 100%;
                        height: 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #FFDCDC;
                        color: #A10000;
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.8px;

                    }

                    .prodDiscription {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        letter-spacing: 0px;
                        vertical-align: middle;                        
                        color: #1E3354;
                        margin-top: 10px;
                    }

                    .prod-image {
                        width: 100%;
                        height: 260px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .offerPrice {
                        font-family: Roboto;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 22.5px;
                        color: #111111;
                        margin-right: 10px;
                    }

                    .ogPrice {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.8px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #8C8C8C;
                        margin-right: 10px;
                    }

                    .offer-text {
                        font-family: Roboto;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16.8px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #038A10;
                    }

                    button {
                        width: 100%;
                        height: 42px;
                        border: 1px solid #5D1CAA;
                        border-radius: 5px;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 22.4px;
                        text-align: center;
                        color: #5D1CAA;
                        background-color: white;
                        margin-top: 1rem;
                    }



                }
            }
        }
    }

    .brandFilter {
        display: flex;
        margin-left: 10px;
        gap: 10px;
    }
}


@media(max-width:576px) {

    .top-deals-heading {
        img {
            display: none;
            // margin-right: 10px !important;
        }


    }

    .selectBox-section {
        padding-top: 1.5rem;
        display: flex;
        gap: .5rem;
        justify-content: center;
    }

    .sort-dropdown {
        // width: 125px;
        // height: 55px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        gap: 5px;
        border: 0.5px solid #00000033;
        cursor: pointer;

        span {
            //styleName: Desktop (lg = <1440px)/body-md;
            font-family: Roboto;
            font-size: 11.5px !important;
            font-weight: 500;
            line-height: 18.2px;

        }
    }


}